# Invoices Analysis
‚å® Jeran Burget

Wide World Importers is a fake company that sells a variety of different products such as slippers, coffee mugs, and flash drives. The company has extensive records of invoices that have been created during the past several years and would like you, the data analyst, to explore the data to determine if there is anything noteworthy that executives should consider incorporating into their business strategy. However, because the data has been input over the years using several different programs, there are some holes in the data set that need "cleaning". The data will eventually be run through a machine learning model and thus cannot contain any null values.

## Analysis
I will perform an exploratory data analysis on a data set of invoices from Wide World Importers, as well as clean up the data set for a future machine learning model.

In [1]:
import pandas as pd
df = pd.read_csv("invoices.csv")

C:\Users\jeran\AppData\Local\Temp\ipykernel_18372\2971728679.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("invoices.csv")

In [2]:
df.head()

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,Customer
0,1,1,67.0,Ride on toy sedan car (Black) 1/12 scale,7,10,230.0,15,345.0,850.0,2645.0,7,NaN,Stuff by Stew
1,2,2,50.0,Developer joke mug - old C developers never di...,7,9,13.0,15,NaN,76.5,-999.0,7,1/1/2013 12:00,Wholesaler Plus
2,3,2,10.0,USB food flash drive - chocolate bar,7,9,32.0,15,43.2,180.0,331.2,7,NaN,Wholesaler Plus
3,4,3,114.0,Superhero action jacket (Blue) XXL,7,3,30.0,15,NaN,24.0,-999.0,7,NaN,Big Buys Retail
4,5,4,206.0,Permanent marker black 5mm nib (Black) 5mm,7,96,2.7,15,NaN,96.0,NaN,7,1/1/2013 12:00,Terry's Trinkets

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230548 entries, 0 to 230547
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   InvoiceLineID   230548 non-null  int64
 1   InvoiceID       230548 non-null  int64
 2   StockItemID     230087 non-null  float64
 3   Description     229876 non-null  object
 4   PackageTypeID   230548 non-null  int64
 5   Quantity        230548 non-null  int64
 6   UnitPrice       230548 non-null  float64
 7   TaxRate         230548 non-null  int64
 8   TaxAmount       109623 non-null  float64
 9   LineProfit      230548 non-null  float64
 10  ExtendedPrice   113081 non-null  float64
 11  LastEditedBy    230548 non-null  int64
 12  LastEditedWhen  6 non-null       object
 13  Customer        230548 non-null  object
dtypes: float64(5), int64(6), object(3)
memory usage: 24.6+ MB

### Which columns appear to have logical errors?

In [4]:
df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,230548.000000,230548.000000,230087.000000,230548.000000,230548.000000,230548.000000,230548.000000,109623.000000,230548.00000,113081.000000,230548.000000
mean,114127.066880,35177.386891,110.181827,7.073638,39.252524,45.539361,14.463409,113.328006,375.38894,740.092626,10.800480
std,65900.142929,20338.920057,63.722514,0.644528,55.193934,139.510031,3.904056,221.866696,753.17041,1705.229089,5.509623
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.660000,-15.000000,0.380000,-645.00000,-999.000000,2.000000
25%,57062.750000,17570.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.00000,89.700000,6.000000
50%,114130.500000,35151.000000,111.000000,7.000000,10.000000,18.000000,15.000000,34.500000,120.00000,248.400000,11.000000
75%,171203.250000,52766.000000,165.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.00000,919.080000,16.000000
max,228265.000000,70510.000000,227.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.00000,114954.000000,20.000000

Looking at the minimum Tax Rate and Extended Price, it looks like they're both negative values, which doesn't make any sense, while Line Profit can be negative, theoretically indicating a loss on a product sale. Lets go ahead and fix those two columns now.

In [5]:
df.loc[df['TaxRate'] < 0, 'TaxRate'] *= -1
df.loc[df['ExtendedPrice'] < 0, 'ExtendedPrice'] *= -1

df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,230548.000000,230548.000000,230087.000000,230548.000000,230548.000000,230548.000000,230548.000000,109623.000000,230548.00000,113081.000000,230548.000000
mean,114127.066880,35177.386891,110.181827,7.073638,39.252524,45.539361,14.977272,113.328006,375.38894,878.050231,10.800480
std,65900.142929,20338.920057,63.722514,0.644528,55.193934,139.510031,0.336342,221.866696,753.17041,1638.465489,5.509623
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.660000,10.000000,0.380000,-645.00000,2.880000,2.000000
25%,57062.750000,17570.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.00000,119.600000,6.000000
50%,114130.500000,35151.000000,111.000000,7.000000,10.000000,18.000000,15.000000,34.500000,120.00000,296.700000,11.000000
75%,171203.250000,52766.000000,165.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.00000,999.000000,16.000000
max,228265.000000,70510.000000,227.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.00000,114954.000000,20.000000

Looking at the "TaxAmount" column, there is quite a few null values. However, we can impute the missing values using this formula:

`Tax Amount = (Unit Price * Quantity * Tax Rate) / 100`

Let's go ahead and do that now and check the description for the "TaxAmount" column again.

In [6]:
df['TaxAmount'] = (df['UnitPrice'] * df['Quantity'] * df['TaxRate']) / 100

df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,230548.000000,230548.000000,230087.000000,230548.000000,230548.000000,230548.000000,230548.000000,230548.000000,230548.00000,113081.000000,230548.000000
mean,114127.066880,35177.386891,110.181827,7.073638,39.252524,45.539361,14.977272,112.977782,375.38894,878.050231,10.800480
std,65900.142929,20338.920057,63.722514,0.644528,55.193934,139.510031,0.336342,219.531650,753.17041,1638.465489,5.509623
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.660000,10.000000,0.375000,-645.00000,2.880000,2.000000
25%,57062.750000,17570.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.00000,119.600000,6.000000
50%,114130.500000,35151.000000,111.000000,7.000000,10.000000,18.000000,15.000000,34.500000,120.00000,296.700000,11.000000
75%,171203.250000,52766.000000,165.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.00000,999.000000,16.000000
max,228265.000000,70510.000000,227.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.00000,114954.000000,20.000000

We can do something similar for the "ExtendedPrice" column using this formula:

`ExtendedPrice = (UnitPrice * Quantity) + TaxAmount`

Let's impute those missing values now.

In [7]:
df['ExtendedPrice'] = (df['UnitPrice'] * df['Quantity']) + df['TaxAmount']

df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,230548.000000,230548.000000,230087.000000,230548.000000,230548.000000,230548.000000,230548.000000,230548.000000,230548.00000,230548.000000,230548.000000
mean,114127.066880,35177.386891,110.181827,7.073638,39.252524,45.539361,14.977272,112.977782,375.38894,867.832750,10.800480
std,65900.142929,20338.920057,63.722514,0.644528,55.193934,139.510031,0.336342,219.531650,753.17041,1683.511224,5.509623
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.660000,10.000000,0.375000,-645.00000,2.875000,2.000000
25%,57062.750000,17570.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.00000,110.400000,6.000000
50%,114130.500000,35151.000000,111.000000,7.000000,10.000000,18.000000,15.000000,34.500000,120.00000,264.500000,11.000000
75%,171203.250000,52766.000000,165.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.00000,993.600000,16.000000
max,228265.000000,70510.000000,227.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.00000,114954.000000,20.000000

### Checking for Outliers

First, let's observe values in the Quantity and ExtendedPrice columns. We're going to use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. We'll start with Quantity.

In [8]:
quantity_avg = df['Quantity'].mean()
quantity_std_dev = df['Quantity'].std()

df['QuantityZScore'] = abs((df['Quantity'] - quantity_avg) / quantity_std_dev)

df[df['QuantityZScore'] >= 3]

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,Customer,QuantityZScore
122,123,59,191.0,Black and orange fragile despatch tape 48mmx75m,7,288,3.70,15,159.84,547.2,1225.44,9,NaN,Terry's Trinkets,4.506790
197,198,95,191.0,Black and orange fragile despatch tape 48mmx75m,7,252,3.70,15,139.86,478.8,1072.26,9,NaN,stuff by stew,3.854545
298,299,129,196.0,Black and orange handle with care despatch tap...,7,216,4.10,15,132.84,453.6,1018.44,2,NaN,Stuf by Stew,3.202299
305,306,132,186.0,Shipping carton (Brown) 457x457x457mm,7,250,2.10,15,78.75,250.0,603.75,2,NaN,Big Buys Retail,3.818309
307,308,134,189.0,Clear packaging tape 48mmx75m,7,234,2.90,15,101.79,280.8,780.39,2,NaN,Terry's Trinkets,3.528422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230285,171205,52767,183.0,Shipping carton (Brown) 480x270x320mm,7,250,2.74,15,102.75,385.0,787.75,17,NaN,Terry's Trinkets,3.818309
230377,74832,23009,182.0,Shipping carton (Brown) 457x279x279mm,7,250,1.28,15,48.00,170.0,368.00,10,NaN,Stuf by Stew,3.818309
230458,151681,46729,195.0,Black and orange handle with care despatch tap...,7,216,3.70,15,119.88,518.4,919.08,5,NaN,Terry's Trinkets,3.202299
230475,217008,67029,201.0,Red and white urgent despatch tape 48mmx75m,7,240,3.70,15,133.20,504.0,1021.20,18,NaN,Stuff by Stew,3.637129
230510,154951,47750,201.0,Red and white urgent despatch tape 48mmx75m,7,240,3.70,15,133.20,504.0,1021.20,17,NaN,Big Buys Retail,3.637129

Next, the ExtendedPrice column.

In [9]:
extended_price_avg = df['ExtendedPrice'].mean()
extended_price_std_dev = df['ExtendedPrice'].std()

df['ExtendedPriceZScore'] = abs((df['ExtendedPrice'] - extended_price_avg) / extended_price_std_dev)

df[df['ExtendedPriceZScore'] >= 3]

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,Customer,QuantityZScore,ExtendedPriceZScore
96,97,45,164.0,32 mm Double sided bubble wrap 50m,7,50,112.0,15,840.00,2650.0,6440.00,9,NaN,Stuf by Stew,0.194722,3.309849
111,112,53,170.0,20 mm Anti static bubble wrap (Blue) 50m,7,90,102.0,15,1377.00,4230.0,10557.00,9,NaN,Stuf by Stew,0.919439,5.755333
124,125,59,167.0,10 mm Anti static bubble wrap (Blue) 50m,7,60,99.0,15,891.00,3240.0,6831.00,9,NaN,Terry's Trinkets,0.375901,3.542101
256,257,116,167.0,10 mm Anti static bubble wrap (Blue) 50m,7,70,99.0,15,1039.50,3780.0,7969.50,9,NaN,Stuf by Stew,0.557081,4.218366
289,290,126,158.0,10 mm Double sided bubble wrap 50m,7,90,105.0,15,1417.50,4410.0,10867.50,9,NaN,Terry's Trinkets,0.919439,5.939769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230065,151133,46554,158.0,10 mm Double sided bubble wrap 50m,7,90,105.0,15,1417.50,4410.0,10867.50,13,NaN,Dennis Distribution,0.919439,5.939769
230079,219963,67961,167.0,10 mm Anti static bubble wrap (Blue) 50m,7,80,99.0,15,1188.00,4320.0,9108.00,19,NaN,Terry's Trinkets,0.738260,4.894632
230298,217447,67164,158.0,10 mm Double sided bubble wrap 50m,7,60,105.0,15,945.00,2940.0,7245.00,8,NaN,Terry's Trinkets,0.375901,3.788016
230407,209037,64540,158.0,10 mm Double sided bubble wrap 50m,7,100,105.0,15,1575.00,4900.0,12075.00,17,NaN,Dennis Distribution,1.100619,6.657020
230483,1708,598,215.0,Air cushion machine (Blue),7,5,1899.0,15,1424.25,3795.0,10919.25,15,NaN,Terry's Trinkets,0.620585,5.970508

For now, we'll just note these outliers in the analysis, rather than remove or impute them again.

### Which customer created the most invoices?

In [10]:
df['Customer'].value_counts()

Customer
Terry's Trinkets       85593
Stuff by Stew          62752
Stuf by Stew           31984
Wholesaler Plus        15735
Big Buys Retail        13461
Terry's Trinket         9483
stuff by stew           7068
Dennis Distribution     4472
Name: count, dtype: int64

It seems there is some standardization issues with the customer "Stuff by Stew". Let's get those fixed as well then check the outputs again.

In [11]:
df.loc[df['Customer'].str.lower().str.contains('stew'), 'Customer'] = 'Stuff by Stew'

df['Customer'].value_counts()

Customer
Stuff by Stew          101804
Terry's Trinkets        85593
Wholesaler Plus         15735
Big Buys Retail         13461
Terry's Trinket          9483
Dennis Distribution      4472
Name: count, dtype: int64

### What should we do with the "LastEditedWhen" column?

Based on the questions asked thus far, and with the only 6 columns being filled out in that column, it's safe to say we can just drop that column.

In [12]:
df.drop(columns=['LastEditedWhen'], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230548 entries, 0 to 230547
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   InvoiceLineID        230548 non-null  int64
 1   InvoiceID            230548 non-null  int64
 2   StockItemID          230087 non-null  float64
 3   Description          229876 non-null  object
 4   PackageTypeID        230548 non-null  int64
 5   Quantity             230548 non-null  int64
 6   UnitPrice            230548 non-null  float64
 7   TaxRate              230548 non-null  int64
 8   TaxAmount            230548 non-null  float64
 9   LineProfit           230548 non-null  float64
 10  ExtendedPrice        230548 non-null  float64
 11  LastEditedBy         230548 non-null  int64
 12  Customer             230548 non-null  object
 13  QuantityZScore       230548 non-null  float64
 14  ExtendedPriceZScore  230548 non-null  float64
dtypes: float64(7), int64(6), object(2)
memory usage: 26.4+ MB

In [13]:
df.head()

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,Customer,QuantityZScore,ExtendedPriceZScore
0,1,1,67.0,Ride on toy sedan car (Black) 1/12 scale,7,10,230.0,15,345.00,850.0,2645.00,7,Stuff by Stew,0.529995,1.055631
1,2,2,50.0,Developer joke mug - old C developers never di...,7,9,13.0,15,17.55,76.5,134.55,7,Wholesaler Plus,0.548113,0.435567
2,3,2,10.0,USB food flash drive - chocolate bar,7,9,32.0,15,43.20,180.0,331.20,7,Wholesaler Plus,0.548113,0.318758
3,4,3,114.0,Superhero action jacket (Blue) XXL,7,3,30.0,15,13.50,24.0,103.50,7,Big Buys Retail,0.656821,0.454011
4,5,4,206.0,Permanent marker black 5mm nib (Black) 5mm,7,96,2.7,15,38.88,96.0,298.08,7,Terry's Trinkets,1.028147,0.338431

Observe the columns StockItemID and Description. Notice that StockItemID is a single number, and each number has a corresponding Description. Thus, by knowing the StockItemID of a row, its Description can be imputed. However, if both the StockItemID and Description are missing, the item is unknown.

### How many rows have both a null StockItemID and a null Description?

In [14]:
df[df['StockItemID'].isna() & df['Description'].isna()].count()

InvoiceLineID          461
InvoiceID              461
StockItemID              0
Description              0
PackageTypeID          461
Quantity               461
UnitPrice              461
TaxRate                461
TaxAmount              461
LineProfit             461
ExtendedPrice          461
LastEditedBy           461
Customer               461
QuantityZScore         461
ExtendedPriceZScore    461
dtype: int64

Since we cannot impute the description without the Stock Item ID, but the rows still containing valuable information, lets go ahead and keep those null values.

### Duplicate Rows

Observe the InvoiceLineID and the InvoiceID columns. The data set provided should have a unique ID for each invoice line, but there can be repeated invoice IDs because several different lines can be from the same invoice.

In [15]:
df.loc[df.duplicated()].sort_values(by='InvoiceLineID')

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,Customer,QuantityZScore,ExtendedPriceZScore
230338,5,4,206.0,Permanent marker black 5mm nib (Black) 5mm,7,96,2.7,15,38.88,96.0,298.08,7,Terry's Trinkets,1.028147,0.338431
229834,76,35,60.0,RC toy sedan car with remote control (Blue) 1/...,7,8,25.0,15,30.00,100.0,230.00,7,Big Buys Retail,0.566231,0.378871
228887,274,122,12.0,USB food flash drive - donut,7,1,32.0,15,4.80,20.0,36.80,9,Stuff by Stew,0.693057,0.493631
230442,335,154,16.0,DBA joke mug - mind if I join you? (White),7,6,13.0,15,11.70,51.0,89.70,2,Stuff by Stew,0.602467,0.462208
230525,412,178,117.0,Superhero action jacket (Blue) 5XL,7,9,34.0,15,45.90,90.0,351.90,2,Stuff by Stew,0.548113,0.306462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229750,227060,70139,41.0,"Developer joke mug - (hip, hip, array) (Black)",7,7,13.0,15,13.65,59.5,104.65,14,Stuff by Stew,0.584349,0.453328
228711,227303,70214,139.0,Furry animal socks (Pink) M,10,108,5.0,15,81.00,378.0,621.00,14,Stuff by Stew,1.245562,0.146618
228466,227370,70236,107.0,Superhero action jacket (Blue) 3XS,7,10,25.0,15,37.50,60.0,287.50,7,Stuff by Stew,0.529995,0.344716
228751,228171,70483,194.0,Black and orange glass with care despatch tape...,7,120,4.1,15,73.80,252.0,565.80,3,Stuff by Stew,1.462977,0.179406
229051,228249,70507,211.0,Small 9mm replacement blades 9mm,7,100,4.1,15,61.50,150.0,471.50,3,Stuff by Stew,1.100619,0.235420

Let's go ahead and drop these duplicate rows.

In [16]:
df.drop_duplicates(subset=['InvoiceLineID'], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228265 entries, 0 to 228264
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   InvoiceLineID        228265 non-null  int64
 1   InvoiceID            228265 non-null  int64
 2   StockItemID          227807 non-null  float64
 3   Description          227600 non-null  object
 4   PackageTypeID        228265 non-null  int64
 5   Quantity             228265 non-null  int64
 6   UnitPrice            228265 non-null  float64
 7   TaxRate              228265 non-null  int64
 8   TaxAmount            228265 non-null  float64
 9   LineProfit           228265 non-null  float64
 10  ExtendedPrice        228265 non-null  float64
 11  LastEditedBy         228265 non-null  int64
 12  Customer             228265 non-null  object
 13  QuantityZScore       228265 non-null  float64
 14  ExtendedPriceZScore  228265 non-null  float64
dtypes: float64(7), int64(6), object(2)
memory usage: 27.9+ MB

Now that the data is mostly free of null values, we can trust the data set and start asking questions.

### Which item has the highest total quantity sold?

In [17]:
df[['Description', 'Quantity']].groupby('Description').sum().sort_values(by='Quantity', ascending=False)

                                                  Quantity
Description
Black and orange fragile despatch tape 48mmx75m     207108
Black and orange fragile despatch tape 48mmx100m    193572
Clear packaging tape 48mmx75m                       158392
3 kg Courier post bag (White) 300x190x95mm          154525
Shipping carton (Brown) 356x356x279mm               151525
...                                                    ...
Superhero action jacket (Blue) L                      5450
Superhero action jacket (Blue) S                      5405
Superhero action jacket (Blue) XXL                    5404
DBA joke mug - mind if I join you? (Black)            5388
Superhero action jacket (Blue) XL                     5358

[227 rows x 1 columns]

Which item has generated the most total profit?

In [18]:
df[['Description', 'LineProfit']].groupby('Description').sum().sort_values(by='LineProfit', ascending=False)

                                                    LineProfit
Description
20 mm Double sided bubble wrap 50m                   5283560.0
Air cushion machine (Blue)                           4418898.0
32 mm Anti static bubble wrap (Blue) 50m             3514220.0
10 mm Anti static bubble wrap (Blue) 50m             3439800.0
32 mm Double sided bubble wrap 50m                   2915530.0
...                                                        ...
Packing knife with metal insert blade (Yellow) 9mm     29888.1
Halloween zombie mask (Light Brown) L                 -63816.0
Halloween zombie mask (Light Brown) M                 -66444.0
Halloween zombie mask (Light Brown) S                 -70788.0
Halloween zombie mask (Light Brown) XL                -72264.0

[227 rows x 1 columns]

Which item is purchased in greatest quantities in a single order, on average?

In [19]:
df[['Description', 'Quantity']].groupby('Description').mean().sort_values(by='Quantity', ascending=False)

                                                      Quantity
Description
Black and orange fragile despatch tape 48mmx75m     199.526012
Black and orange fragile despatch tape 48mmx100m    199.148148
Clear packaging tape 48mmx75m                       145.313761
3 kg Courier post bag (White) 300x190x95mm          144.012116
Shipping carton (Brown) 356x356x279mm               141.612150
...                                                        ...
USB food flash drive - hamburger                      5.327273
Superhero action jacket (Blue) L                      5.317073
DBA joke mug - SELECT caffeine FROM mug (Black)       5.283915
Developer joke mug - understanding recursion re...    5.277831
Superhero action jacket (Blue) XXL                    5.211186

[227 rows x 1 columns]

### Conclusion
Here is a summary of what we did in this analysis:   
   
    Conducted exploratory data analysis (EDA) on a dataset containing invoice information.
    Identified potential data quality issues, such as mixed data types in certain columns and missing values.
    Examined summary statistics for various columns, including count, mean, standard deviation, and percentiles.
    Analyzed the distribution of customers and identified the most frequent ones.
    Calculated Z-scores for quantity and extended price to assess their deviation from the mean.
    Highlighted specific insights, such as quantities and line profits associated with certain product descriptions.
    Overall, gained insights into the distribution and characteristics of invoice data, laying the groundwork for further analysis or investigation.

The purpose of this analysis was to gain insights into the invoice dataset, including understanding the distribution and characteristics of the data, identifying potential data quality issues, and exploring patterns and trends within the data. Additionally, the analysis aimed to provide valuable information that could inform decision-making processes or further investigations related to sales, inventory management, and customer behavior.